body { 
    margin: 0; 
    overflow: hidden; 
    background-color: #050505;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    pointer-events: none; /* Allows clicks to pass through to the game */
    opacity: 0.5;
}

#instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-family: 'Georgia', serif;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}